@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

body {
  font-family: "Aldrich", sans-serif !important;
}

/* #output-box {
  overflow: hidden;
} */

#profile-img-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
}

#profile-img {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 100%;
  object-fit: cover;
}

#btn-link-1 {
  text-decoration: none;
  padding: 10px 75px 10px 75px;
  color: white;
  font-weight: 500;
  background: #222222ff;
}

#btn-link-1:hover {
  background: rgb(0, 0, 0);
}

#btn-link-2 {
  text-decoration: none;
  padding: 10px 75px 10px 75px;
  color: white;
  font-weight: 500;
  background: #222222ff;
}

#btn-link-2:hover {
  background: rgb(0, 0, 0);
}

#btn-link-3 {
  text-decoration: none;
  padding: 10px 75px 10px 75px;
  color: white;
  font-weight: 500;
  background: #222222ff;
}

#btn-link-3:hover {
  background: rgb(0, 0, 0);
}

#call-img {
  width: 35%;
}

#click-btn {
  border-radius: 50px !important;
}

#other-btn-link-1 {
  width: 45%;
  text-decoration: none;
  padding: 10px 0 10px 0;
  color: white;
  font-weight: 500;
  background: #222222ff;
}

#other-btn-link-1:hover {
  background: rgb(0, 0, 0);
}

#other-btn-link-2 {
  width: 45%;
  text-decoration: none;
  padding: 10px 0 10px 0;
  color: white;
  font-weight: 500;
  background: #222222ff;
}

#other-btn-link-2:hover {
  background: rgb(0, 0, 0);
}

#other-btn-link-3 {
  width: 45%;
  text-decoration: none;
  padding: 10px 0 10px 0;
  color: white;
  font-weight: 500;
  background: #222222ff;
}

#other-btn-link-3:hover {
  background: rgb(0, 0, 0);
}

#img-box {
  width: 100%;
  height: 100%;
}

#profile-img-2 {
  width: 100%;
  height: auto;
}

#text-1 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #f5e7c6;
}

#text-2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #f5e7c6;
}

#profile-box {
  background-color: #222222ff;
}

#social-box a {
  color: #222222ff;
  font-size: 2rem;
}

#social-box a:hover {
  color: rgb(158, 154, 154);
  font-size: 2rem;
}

.caret-left {
  color: #222222ff;
  font-size: 1.8rem !important;
}

.caret-right {
  color: #222222ff;
  font-size: 1.8rem !important;
}
